*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    text-align: center;
}

body{
    padding:40px;
}

.titulo{
    text-align: center;
}

.titulo1{
    margin-bottom: 40px;
}

.encabezado{
    padding:40px;
}
.negra{
    font-weight: bold;
}

.sinDeco{
    text-decoration: none;
}

.container{
    margin:0 auto;
    width: 950px;
}

.caja{
    display: inline-block;
    font-weight: bold;
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
    overflow: hidden;
    border:solid 1px rgb(122, 122, 122);
    border-radius: 10px;
}

.subTitulo{
    color: white;
    padding: 20px;
}

.parte{
    padding: 20px;
}

.espacioInferior{
margin-bottom: 20px;
}

.color1{
    background-color: #008DD2;
}

.color2{
    background-color: #EE433A;
}

.color3{
    background-color: #00C56A;
}

.color4{
    background-color: #F9CB4C;
}

.color5{
    background-color: #9F6AC2;
}

.color6{
    background-color: #3898A9;
}
