
*{
    padding:0;
    margin:0;
    box-sizing: border-box; /*contaviliza bordes*/  
}
.encabezado{
width: 100%;/*todo el ancho de la page*/
background-color: black;
padding: 15px;
}
.titulo header{
    text-align: center;

}
.container{
    margin:0 auto;
    width: 950px;
    padding: 20px;
    outline: solid 1px
}